<style>

/* Somehow i need this so the selectors underneath arent ignored */
.header-section-number::before {}

.header-section-number {
  color: #808080;
}

.header-section-number::after {
  content: ".";
}

h2, h3, h4, h5 {
  font-size: 40px !important;
}

</style>

